*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   font-family: Roboto, Helvetica, sans-serif;
}

/* header */

.header {
    display: flex;
    flex-direction: column;
}

.header-styles {
    background-color: #1F2937;
    color: #E5E7EB;
    /*margin: 10px 10px 10px 10px;*/
    padding: 10px 100px 100px 100px;
}

.top-header {
    display: flex;
    align-items: normal;
    justify-content: space-between;
    margin: 0px 0px 100px 0px;
    font-size: 24px;
}

.top-header p {
    font-weight: 700;
}
 
.header-links {
    display: flex;
    align-items: center;
    gap: 35px;
    font-weight: 300;
}

.header-links a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: .8rem;

}

.content-container {
    display: flex;
    max-width: auto;
}

.content {
    flex: 1 1 100%;
}

.content-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.button-header {
    border-radius: .5rem;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px 20px;
    border: none;
    font-weight: 500;
    margin-top: 10px;
    text-decoration: none;
}

.logo-image{
    background: #1f2937;
    width: 100%;
    height: auto;
}

.image  {
    width: 100%;
    height: auto;
    object-fit: fill;
}
    
 /*************************************************************
 **** Box Section ***************/

 .second-section {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }

 .second-header {
     font-size: 36px;
     color: #1F2937;
     font-weight: 300;
     margin-top: 30px;
 }

 .boxes-container {
     display: flex;
     justify-content: space-between;
     padding: 0px;
     margin:50px 0px 150px 0px;
     gap: 30px;
 }

 .box-container{
     width: 150px;
     height: 150px;
 }

 .box {
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: .5rem;
    }

    .box img {
        width: 100%;
    }

  figcaption {
        text-align: center;
        font-size: .8rem;
        color: #1f2937;
        font-family: roboto;
    }

    /***********************
    quote section
    ***********************/

    .quote-section {
        display: flex;
        flex-direction: column;
        background-color: #E5E7EB;
        align-items: center;
        justify-content: center;
        padding: 100px 250px;
    }
    .quote {
        
        font-family: roboto;
        font-size: 36px;
        font-style: italic;
        font-weight: 100;
        color: #1F2937;
    }
      
    .author {
        font-weight: bold;
        margin-left: auto;
        color: #1F2937;
        font-size: 14px;
    }

    /*******************
    invitation part
    ********************/

.invitation-container {
    padding: 100px;
    
}

.invitation-content {
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    color: white;
    padding: 40px 70px
}

.invitation-header {
    font-weight: 900;
}

.button-invitation {
    border-radius: .5rem;
    background-color: #3882F6;
    border: 2px solid white;
    padding: 5px 20px;
    margin: 5px;
    color: white;
}

.invitation-subheader {
    font-size: .8rem;
}

/*************************
footer section
*************************/

.footer-container {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px 25px;
    font-weight: 600;
}

.footer-text a {
    text-decoration: none;
    color: #E5E7EB;
}